* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #000000;
}

header, footer {
    height: 5rem;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0f9c02;
}

.title {
    font-size: 4rem;
}

a {
    text-decoration: none;
    color: #0f9c02;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    flex-grow: 1;
}

#playerTurnDiv {
    width: 100vw;
    height: 2rem;
    text-align: center;
    padding: 2px;
    color: #0f9c02;
    font-weight: 900;
    font-size: 2rem;
}

#resultDiv {
    width: 100vw;
    height: 2rem;
    text-align: center;
    padding: 2px;
    color: #0f9c02;
    font-weight: 900;
    font-size: 2rem;
}

#boardHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 2rem;
    margin: 2rem;
}

#playerBoard, #computerBoard {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: #ffffff;
}

#playerBoard div, #computerBoard div  {
    border: #000000 solid 2px;
}

/* #computerBoard div {
    border: #0f9c02 solid 2px;
} */